**/__pycache__
**/.DS_Store
**/datasets/dataset
**/inference_dps_promptir
**/inference_dps_promptir_ablation
**/inference_dps_promptir_ablation_combined_dps
**/inference_dps_promptir_3forwards
**/inference_dps_promptir-combined_dps
**/logs
**/inference_combined_dps_promptir_ablation
**/inference_combined_dps_promptir_ablation_combined_dps
**/inference_combined_dps_promptir_3forwards
**/inference_dps_promptir_ablation-combined_dps
**/huggingface
**/previous_runs
**/runs
**/validation_samples_dps_promptir
**/vq-f4.zip
**/model.ckpt